# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Ruff Cache
.ruff_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Sphinx documentation
docs/_build/
_build
jupyter_execute
docs/api/generated
